:root {
    --md-primary-fg-color:        #253438;
    --md-primary-fg-color--light: #ffffff;
    --md-primary-fg-color--dark:  #253438;
  }

.announce-link{
    color: rgb(183, 235, 249) !important;
}

.announce-link:hover{
    color: rgb(173, 244, 210) !important;
}
/* 
a{
    color: rgb(12, 125, 20) !important;
} */

.iframe-container {
    text-align: center;
}